<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>btvn</title>
    <link rel="stylesheet" href="../css/btvn.css">
</head>
<body>
    <header>
        <nav>      
                <ul class="main">
                    <li class="menu"><a href="#" class="option">trang chu</a></li>
                    <li class="menu"><a href="#" class="option">san  pham</a></li>
                    <li class="menu"><a href="#" class="option">doi tac</a></li>
                    <li class="menu"><a href="#" class="option">lien he</a></li>
                    <li class="menu"><a href="#" class="option">more</a></li>
                </ul>   
        </nav>
    </header>
    <section></section>
    <footer></footer>
</body>
</html>