<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <section>
        <h1>tong quat</h1>
        <pre>
            I khai niem va muc dich
            II loi ich
                4 loi ich
                    -tach biet code
                    -giam thieu code 
                    -tai su dung
                    -khai bao de dang
            III tong quan
                1, nam duoc cach su dung css co ban
                    -hieu duoc no dung de lam gi 
                    -biet cach tao va su dung css co ban
                    -nam duoc cu phap viet css(cach thuc, do uu tien)
        </pre>
    </section>
</body>
</html>