*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}
.main-menu{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    border-top: 1px solid;
    border-bottom: 1px solid;

}
.main-option{
    position: relative;
    width: 20%;
    text-align: center;
    padding: 15px;
    border-left: 1px solid;
}
.main-option:hover {
    background-color: #ccc;
}
.main-option:hover >a{
    color: red;
}
.main-option:hover .second-menu {
    display: block;
}
.second-menu{
    position: absolute;
    display: none;
    list-style: none;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: aquamarine;
    border: 1px solid;
    border-top: 0;
}
.second-option {
    position: relative;
    text-align: center;
    padding: 15px;
    border-top: 1px solid;
}
.second-option:hover {
    background-color: #ccc;
}
.second-option:hover >a{
    color: red;
}
.second-option:hover .third-menu {
    display: block;
}
.third-menu{
    position: absolute;
    display: none;
    top: 0;
    left: 100%;
    width: 100%;
    background-color: aquamarine;
    border: 1px solid;
    border-top: 0;
}
.third-option {
    text-align: center;
    padding: 15px;
    border-top: 1px solid;
}
.third-option:hover {
    background-color: #ccc;
}
.third-option:hover >a{
    color: red;
}
.second-option:hover .lastthird-menu {
    display: block;
}
.lastthird-menu{
    position: absolute;
    display: none;
    top: 0;
    right: 100%;
    width: 100%;
    background-color: aquamarine;
    border: 1px solid;
    border-top: 0;
}
.banner img {
    width: 100%;
}
.ao {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.sp{
    width: 450px;
    padding-top: 50px;
}
.sp img{
    width: 450px;
}
.infosp {
    text-align: center;
    font-size: larger;
}