*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.ul {
   
    width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    list-style: none;
}
.li{
    height: 30px;
    width: 20%;
    text-align: center;
    padding-top: 10px;
    border-right: 1px solid;
}
.li:last-child{
    border-right: 0;
}
/* li:nth-child(n) can thiep den con dung thu n*/
.ul .li:hover a{
    color: aqua;
}
.link {
    text-decoration: none;
    color: black;
}
.mega-menu{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.li{
    position: relative;
}
.ul > .li:hover .mega-menu{
    display: block;
}
.ul-2 .li-2:hover a{
    color: red;
}
.ul-2 {
    background-color: rgba(0, 0, 0, 0.61);
    list-style: none;
    border: 1px solid;
    border-top: 0;
}
.li-2{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid;
}
