*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}
.menuc1{
    background-color: #ccc;
    width: 100%;
    height: 50px;
    display: flex;
    list-style: none;
    border: 1px solid;
}
.opc1{
    position: relative;
    width: 25%;
    padding: 15px 20px;
    border-left: 1px solid;
    text-align: center;
}
.opc1:hover {
    background-color: blue;
}
.opc1:hover a{
    color: red;
}
@keyframes running {
    from {top: 150%;}
    to {top: 100%;}
}
.opc1:hover .menuc2{
    display: block;
    animation-name: running;
    animation-duration: 1s;
}
.menuc2{
    position: absolute;
    display: none;
    list-style: none;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ccc;
    border: 1px solid;
    border-top: 0;
}
.opc2{
    position: relative;
    padding: 15px 20px;
    border-top: 1px solid;
}
.opc2:hover {
    background-color: blue;
}
.opc2:hover a{
    color: yellow;
}
.opc2:hover .menuc3{
    display: block;
}
.opc2:hover .menuc3last{
    display: block;
}
.menuc3{
    position: absolute;
    display: none;
    list-style: none;
    top: 0;
    left: 100%;
    width: 100%;
    background-color: #ccc;
    border: 1px solid;
    border-top: 0;
}
.opc3{
    padding: 15px 20px;
    border-top: 1px solid;
}

.opc3:hover {
    background-color: blue;
}
.opc3:hover a{
    color: red;
}
.menuc3last{
    position: absolute;
    display: none;
    list-style: none;
    top: 0;
    right: 100%;
    width: 100%;
    background-color: #ccc;
    border: 1px solid;
    border-top: 0;
}
.banner{
    width: 100%;
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.watch{
    width: 450px;
}
.name{
    text-align: center; 
    font-size: small;
}
.class{
    text-align: center;
}
.cost{
    text-align: center;
}
