<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>btvn</title>
</head>
<body>
    <header></header>
    <section>
        <div class="watch" style="width: 300px; height: 450px; ">
            <div class="img" >
                <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="watch" style="width: 100%;">
            </div>
            <div class="name">
                <p style="text-align: center; font-size: small;">KASHMIR</p>
            </div>
            <div class="class">
                <p style="text-align: center;">MODISH</p>
            </div>
            <div class="cost" style="text-align: center;">
                <span><b>2.184.000 <u><sup>đ</sup></u></b></span>  
                <del style="margin-left: 10px;">2.299.000 <u><sup>đ</sup></u></del>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>