<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logon</title>
</head>
<body>
    <header class="demo header" id="">
        <h1 style="display: none;">tao form login</h1>
    </header>

    <section>
        <div class="form-login" style="background-color: #cccccc; width: 185px; padding: 30px;margin: 100px 750px; ">
            <div class="logo-login">
                <div class="img-logo" >
                    <img src="/less4/images/Screenshot 2023-08-21 140245.png" alt="" style="border-radius: 50%; margin-left: 43px;">
                </div>
            </div>
            <div class="content-form">
                <form action="" class="form">
                    <div class="form-input">
                        <div class="input-email"><input type="email" placeholder="email" name="email" id="email" style="padding: 5px;border: 1px solid; border-bottom: 0px;"></div>
                        <div class="input-pass"><input type="password" placeholder="mat khau" name="password" id="password" style="padding: 5px;border: 1px solid;"></div>
                    </div>
                    <div class="form-submid">
                        <button type="button" style="background-color: rgb(0, 183, 255); color: white; width: 180px;text-align: center; border: 0px;  margin-top: 20px; padding: 5px 0px;border-radius: 5px;">Dang nhap</button>
                    </div>
                    <div class="form-link" style="padding-top: 5px;">
                        <a href="#" style="text-decoration: none; color: rgb(0, 183, 255); margin-top: 5px;">ban can tro giup?</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer>

    </footer>
</body>
</html>