<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>
</head>
<body>
    
    <header>

    </header>

    <section>
        <pre>
                I cau truc cua mot file html 
                    head
                    body

                II, table va form: cu phap va ung dung
                    1 table 
                        cu phap; table > thead/tbody/tfoot >tr >th/td >element
                        cac thuoc tinh ung dung => xay dung len table 
                            gom cot, gom o, tao vien, tao khoang cach
                    2, form 
                        cu phap: form >element
                        mot so thuoc tinh tieu bieu trong form: action method,...
                III phan chia bo cuc va noi dung 
                    cau truc cua mot website thong thuong: header- sectione- footer 
                    header: thuong chua cac lua chon dieu huong => su dung ket hop nav 
                    section: ket hop tat ca cac element 
                    footer: thuong la cac thong tin ghi chu 

                    van dung phan chia bo cuc noi dung cho tung thanh phan hop ly
        </pre>
    </section>

    <footer>

    </footer>
</body>
</html>