<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thuchanh</title>
</head>
<body>
    <section>
        <div style="width: 400px;">
            <div class="images-khmt">
                <a href="#"><img src="/less4/images/khoa-hoc-may-tinh.jpg" alt="anh nen" style="width: 100%;"></a>
            </div>
            <div class="text-khmt"><h2>tong quan nganh khoa hoc may tinh</h2></div>
            <div class="date-khmt">
                <p>04/11/2021</p>
            </div>
            <div class="para-khmt">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo beatae aspernatur ab quo perferendis veniam error, aliquam quidem maiores quos quibusdam dolores impedit asperiores exercitationem voluptatum, itaque eaque. Excepturi, quaerat...<a href="#" style="text-decoration: none;">doc them</a></p>
            </div>
        </div>
    </section>
</body>
</html>