<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>btvn</title>
    <link rel="stylesheet" href="../css/btvn.css">
</head>
<body>
    <header>
        <nav>
            <ul class="main-menu">
                <li class="main-option">
                    <a href="#">thoi trang</a> 
                    <div >
                        <ul class="second-menu">
                            <li class="second-option">
                                <a href="#">ao</a>
                                <div>
                                    <ul class="third-menu">
                                        <li class="third-option">
                                            <a href="#">ao</a>               
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                    </ul>
                                </div>               
                            </li>
                            <li class="second-option">
                                <a href="#">quan</a>
                                <div>
                                    <ul class="third-menu">
                                        <li class="third-option">
                                            <a href="#">quan</a>               
                                        </li>
                                        <li class="third-option">
                                            <a href="#">quan</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">quan</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">quan</a>
                                        </li>
                                    </ul>
                                </div>        
                            </li>
                            <li class="second-option">
                                <a href="#">mu</a>
                                <div>
                                    <ul class="third-menu">
                                        <li class="third-option">
                                            <a href="#">mu</a>               
                                        </li>
                                        <li class="third-option">
                                            <a href="#">mu</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">mu</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">mu</a>
                                        </li>
                                    </ul>
                                </div>        
                            </li>
                            <li class="second-option">
                                <a href="#">phu kien</a>
                                <div>
                                    <ul class="third-menu">
                                        <li class="third-option">
                                            <a href="#">phu kien</a>               
                                        </li>
                                        <li class="third-option">
                                            <a href="#">phu kien</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">phu kien</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">phu kien</a>
                                        </li>
                                    </ul>
                                </div>        
                            </li>
                        </ul>
                    </div>             
                </li>
                <li class="main-option">
                    <a href="#">finger</a>
                    <div >
                        <ul class="second-menu">
                            <li class="second-option">
                                <a href="#">ao</a>
                                <div>
                                    <ul class="third-menu">
                                        <li class="third-option">
                                            <a href="#">ao</a>               
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                    </ul>
                                </div>               
                            </li>
                            <li class="second-option">
                                <a href="#">quan</a>
                            </li>
                            <li class="second-option">
                                <a href="#">mu</a>
                            </li>
                            <li class="second-option">
                                <a href="#">phu kien</a>
                            </li>
                        </ul>
                    </div>  
                </li>
                <li class="main-option">
                    <a href="#">sticker</a>
                    <div >
                        <ul class="second-menu">
                            <li class="second-option">
                                <a href="#">ao</a>
                                <div>
                                    <ul class="third-menu">
                                        <li class="third-option">
                                            <a href="#">ao</a>               
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                    </ul>
                                </div>               
                            </li>
                            <li class="second-option">
                                <a href="#">quan</a>
                            </li>
                            <li class="second-option">
                                <a href="#">mu</a>
                            </li>
                            <li class="second-option">
                                <a href="#">phu kien</a>
                            </li>
                        </ul>
                    </div>  
                </li>
                <li class="main-option">
                    <a href="#">lego</a>
                    <div >
                        <ul class="second-menu">
                            <li class="second-option">
                                <a href="#">ao</a>
                                <div>
                                    <ul class="third-menu">
                                        <li class="third-option">
                                            <a href="#">ao</a>               
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                    </ul>
                                </div>               
                            </li>
                            <li class="second-option">
                                <a href="#">quan</a>
                            </li>
                            <li class="second-option">
                                <a href="#">mu</a>
                            </li>
                            <li class="second-option">
                                <a href="#">phu kien</a>
                            </li>
                        </ul>
                    </div>  
                </li>
                <li class="main-option">
                    <a href="#">more</a>
                    <div >
                        <ul class="second-menu">
                            <li class="second-option">
                                <a href="#">ao</a>
                                <div>
                                    <ul class="lastthird-menu">
                                        <li class="third-option">
                                            <a href="#">ao</a>               
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                        <li class="third-option">
                                            <a href="#">ao</a>
                                        </li>
                                    </ul>
                                </div>               
                            </li>
                            <li class="second-option">
                                <a href="#">quan</a>
                            </li>
                            <li class="second-option">
                                <a href="#">mu</a>
                            </li>
                            <li class="second-option">
                                <a href="#">phu kien</a>
                            </li>
                        </ul>
                    </div>  
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="banner">
            <img src="../images/banner.webp" alt="banner">
        </div>
        <div class="ao">
            <div class="sp">
                <div class="imgsp1">
                    <img src="../images/ao1.jpg" alt="">
                </div>
                <div class="infosp">
                    <p>ao thun</p>
                    <p>100.000 <sup><u>d</u></sup></p>
                </div>
            </div>            
            <div class="sp">
                <div class="imgsp2">
                    <img src="../images/ao2.jpg" alt="">
                </div>
                <div class="infosp">
                    <p>ao thun</p>
                    <p>100.000 <sup><u>d</u></sup></p>
                </div>
            </div>
            <div class="sp">
                <div class="imgsp1">
                    <img src="../images/ao1.jpg" alt="">
                </div>
                <div class="infosp">
                    <p>ao thun</p>
                    <p>100.000 <sup><u>d</u></sup></p>
                </div>
            </div> 
            <div class="sp">
                <div class="imgsp2">
                    <img src="../images/ao2.jpg" alt="">
                </div>
                <div class="infosp">
                    <p>ao thun</p>
                    <p>100.000 <sup><u>d</u></sup></p>
                </div>
            </div>
            <div class="sp">
                <div class="imgsp1">
                    <img src="../images/ao1.jpg" alt="">
                </div>
                <div class="infosp">
                    <p>ao thun</p>
                    <p>100.000 <sup><u>d</u></sup></p>
                </div>
            </div> 
            <div class="sp">
                <div class="imgsp2">
                    <img src="../images/ao2.jpg" alt="">
                </div>
                <div class="infosp">
                    <p>ao thun</p>
                    <p>100.000 <sup><u>d</u></sup></p>
                </div>
            </div>
            </div> 
        </div>
    </section>
</body>
</html>