<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cach su dung</title>
    <link rel="stylesheet" href="../css/ex1.css">
</head>
<body>
    <header class="header"></header>
    <section>
        I, cach tao file css
            tenfile.css 
        II cach viet css   
            1, viet css tren chinh cac element
                toan bo css duoc dat trong value cua thuoc tinh style tren element mo
            2, viet css trong noi dung cua element style 
            <style>
                header{
                    height: 300px;
                    width: 100%;
                }
            </style>  
            3, tao va khai bao file chua cac noi dung css
                nam duoc quy tac tao file css
                biet cac nhung file css vao file html 
                nam duoc cu phap viet css(selector)
                cu phap 
                 selector {
                    key: value (ten thuoc tinh: gia tri thuoc tinh)
                 }
                ghi chu: selector => cac element/class/attr/id
                                        (do uu tien tang dan) hoac !important hoac do chi tiet  
    </section>
    <footer></footer>
</body>
</html>