<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/ex4.css">
</head>
<body>
    <header>
        <nav class="nav">
            <ul  class="ul">
                <li class="li" > 
                    <a href="#" class="link">trang chu</a>
                    <div class="mega-menu">
                        <ul  class="ul-2">
                            <li class="li-2" > 
                                <a href="#" class="link">trang chu</a>
                            </li>
                            <li class="li-2" >
                                <a href="#" class="link">san pham</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">dich vu</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">gioi thieu</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">lien he</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li" >
                    <a href="#" class="link">san pham</a>
                    <div class="mega-menu">
                        <ul  class="ul-2">
                            <li class="li-2" > 
                                <a href="#" class="link">trang chu</a>
                            </li>
                            <li class="li-2" >
                                <a href="#" class="link">san pham</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">dich vu</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">gioi thieu</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">lien he</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li">
                    <a href="#" class="link">dich vu</a>
                    <div class="mega-menu">
                        <ul  class="ul-2">
                            <li class="li-2" > 
                                <a href="#" class="link">trang chu</a>
                            </li>
                            <li class="li-2" >
                                <a href="#" class="link">san pham</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">dich vu</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">gioi thieu</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">lien he</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li">
                    <a href="#" class="link">gioi thieu</a>
                    <div class="mega-menu">
                        <ul  class="ul-2">
                            <li class="li-2" > 
                                <a href="#" class="link">trang chu</a>
                            </li>
                            <li class="li-2" >
                                <a href="#" class="link">san pham</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">dich vu</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">gioi thieu</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">lien he</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="li">
                    <a href="#" class="link">lien he</a>
                    <div class="mega-menu">
                        <ul  class="ul-2">
                            <li class="li-2" > 
                                <a href="#" class="link">trang chu</a>
                            </li>
                            <li class="li-2" >
                                <a href="#" class="link">san pham</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">dich vu</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">gioi thieu</a>
                            </li>
                            <li class="li-2">
                                <a href="#" class="link">lien he</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>