<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>btvn</title>
    <link rel="stylesheet" href="../css/ex5.css">
</head>
<body>
    <header></header>
    <section>
       <div class="content">
        <div class="watch">
            <div class="img" >
                <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="watch" >
            </div>
            <div >
                <p class="name">KASHMIR</p>
            </div>
            <div >
                <p class="class" style="text-align: center;">MODISH</p>
            </div>
            <div class="cost">
                <span><b>2.184.000 <u><sup>đ</sup></u></b></span>  
                <del>2.299.000 <u><sup>đ</sup></u></del>
            </div>
        </div>
        <div class="watch">
            <div class="img" >
                <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="watch">
            </div>
            <div >
                <p class="name">KASHMIR</p>
            </div>
            <div >
                <p class="class" style="text-align: center;">MODISH</p>
            </div>
            <div class="cost">
                <span><b>2.184.000 <u><sup>đ</sup></u></b></span>  
                <del>2.299.000 <u><sup>đ</sup></u></del>
            </div>
        </div>
        <div class="watch">
            <div class="img" >
                <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="watch">
            </div>
            <div >
                <p class="name">KASHMIR</p>
            </div>
            <div >
                <p class="class" style="text-align: center;">MODISH</p>
            </div>
            <div class="cost">
                <span><b>2.184.000 <u><sup>đ</sup></u></b></span>  
                <del>2.299.000 <u><sup>đ</sup></u></del>
            </div>
        </div>
        <div class="watch">
            <div class="img" >
                <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="watch">
            </div>
            <div >
                <p class="name">KASHMIR</p>
            </div>
            <div >
                <p class="class" style="text-align: center;">MODISH</p>
            </div>
            <div class="cost">
                <span><b>2.184.000 <u><sup>đ</sup></u></b></span>  
                <del>2.299.000 <u><sup>đ</sup></u></del>
            </div>
        </div>
       </div>
    </section>
    <footer></footer>
</body>
</html>