<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mega-menu</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
    <header>
        <nav>
            <ul class="menuc1">
                <li class="opc1">
                    <a href="#" class="link">home</a>
                    <div class="dmenuc2">
                        <ul class="menuc2">
                            <li class="opc2">
                                <a href="#" class="link">html</a>
                                <div class="dmenuc3">
                                    <ul class="menuc3">
                                        <li class="opc3"><a href="#" class="link">lo trinh</a></li>
                                        <li class="opc3"><a href="#" class="link">hoc phi</a></li>
                                        <li class="opc3"><a href="#" class="link">co hoi</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="opc2"><a href="#" class="link">css</a></li>
                            <li class="opc2"><a href="#" class="link">js</a></li>
                            <li class="opc2"><a href="#" class="link">more</a></li>
                        </ul>
                    </div>
                </li>
                <li class="opc1">
                    <a href="#" class="link">new</a>
                    <div class="dmenuc2">
                        <ul class="menuc2">
                            <li class="opc2">
                                <a href="#" class="link">html</a>
                                <div class="dmenuc3">
                                    <ul class="menuc3">
                                        <li class="opc3"><a href="#" class="link">lo trinh</a></li>
                                        <li class="opc3"><a href="#" class="link">hoc phi</a></li>
                                        <li class="opc3"><a href="#" class="link">co hoi</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="opc2"><a href="#" class="link">css</a></li>
                            <li class="opc2"><a href="#" class="link">js</a></li>
                            <li class="opc2"><a href="#" class="link">more</a></li>
                        </ul>
                    </div>
                </li>
                <li class="opc1">
                    <a href="#" class="link">contact</a>
                    <div class="dmenuc2">
                        <ul class="menuc2">
                            <li class="opc2">
                                <a href="#" class="link">html</a>
                                <div class="dmenuc3">
                                    <ul class="menuc3">
                                        <li class="opc3"><a href="#" class="link">lo trinh</a></li>
                                        <li class="opc3"><a href="#" class="link">hoc phi</a></li>
                                        <li class="opc3"><a href="#" class="link">co hoi</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="opc2"><a href="#" class="link">css</a></li>
                            <li class="opc2"><a href="#" class="link">js</a></li>
                            <li class="opc2"><a href="#" class="link">more</a></li>
                        </ul>
                    </div>
                </li>
                <li class="opc1">
                    <a href="#" class="link">more</a>
                    <div class="dmenuc2">
                        <ul class="menuc2">
                            <li class="opc2">
                                <a href="#" class="link">html</a>
                                <div class="dmenuc3">
                                    <ul class="menuc3last">
                                        <li class="opc3"><a href="#" class="link">lo trinh</a></li>
                                        <li class="opc3"><a href="#" class="link">hoc phi</a></li>
                                        <li class="opc3"><a href="#" class="link">co hoi</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="opc2"><a href="#" class="link">css</a></li>
                            <li class="opc2"><a href="#" class="link">js</a></li>
                            <li class="opc2"><a href="#" class="link">more</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <!-- <section>
        <div >
            <img class="banner" src="https://devmaster.edu.vn/uploads/images/2020/11/20-11-2020.jpg" alt="" > 
        </div>
        <div class="content">
            <div class="watch">
                <div class="img" >
                    <img style="width: 100%;" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="watch" >
                </div>
                <div >
                    <p class="name">KASHMIR</p>
                </div>
                <div >
                    <p class="class" style="text-align: center;">MODISH</p>
                </div>
                <div class="cost">
                    <span><b>2.184.000 <u><sup>đ</sup></u></b></span>  
                    <del>2.299.000 <u><sup>đ</sup></u></del>
                </div>
            </div>
            <div class="watch">
                <div class="img" >
                    <img style="width: 100%;" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="watch">
                </div>
                <div >
                    <p class="name">KASHMIR</p>
                </div>
                <div >
                    <p class="class" style="text-align: center;">MODISH</p>
                </div>
                <div class="cost">
                    <span><b>2.184.000 <u><sup>đ</sup></u></b></span>  
                    <del>2.299.000 <u><sup>đ</sup></u></del>
                </div>
            </div>
            <div class="watch">
                <div class="img" >
                    <img style="width: 100%;" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="watch">
                </div>
                <div >
                    <p class="name">KASHMIR</p>
                </div>
                <div >
                    <p class="class" style="text-align: center;">MODISH</p>
                </div>
                <div class="cost">
                    <span><b>2.184.000 <u><sup>đ</sup></u></b></span>  
                    <del>2.299.000 <u><sup>đ</sup></u></del>
                </div>
            </div>
            <div class="watch">
                <div class="img" >
                    <img style="width: 100%;" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="watch">
                </div>
                <div >
                    <p class="name">KASHMIR</p>
                </div>
                <div >
                    <p class="class" style="text-align: center;">MODISH</p>
                </div>
                <div class="cost">
                    <span><b>2.184.000 <u><sup>đ</sup></u></b></span>  
                    <del>2.299.000 <u><sup>đ</sup></u></del>
                </div>
            </div>
           </div>
    </section> -->
</body>
</html>