header{
    height: 100px;
    width: 100% ;  
    border: 1px solid;
    border-color: greenyellow;
    text-align: center;
}
.nav{
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid;
    border-color: greenyellow;
    text-align: center;
}
.center{
    display: flex;
}
.center .left{
    margin-bottom: 5px;
    height: 300px;
    width:20%;
    border: 1px solid;
    border-color: greenyellow;
    text-align: center;
}
.center .body{
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 300px;
    width: 60%;
    border: 1px solid;
    border-color: greenyellow;
    text-align: center;
}
.center .right{
    margin-bottom: 5px;
    height: 300px;
    width:20%;
    border: 1px solid;
    border-color: greenyellow;
    text-align: center;
}
footer{
    height: 100px;
    width: 100%;
    border: 1px solid;
    border-color: greenyellow;
    text-align: center;
}