
.content{
    width: 100%;
    display: flex;
}
.watch{
    width: 25%;
    height: 450px;
}
.name{
    text-align: center; 
    font-size: small;
}
.class{
    text-align: center;
}
.cost{
    text-align: center;
}
img{
    width: 100%;
}