<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <h1>form:</h1>
    <pre>
        I muc tieu
            -cau truc
            -cu phap tao form
            -danh sach cac element nhap lieu
            -ung dung cac element nhap lieu de hoan thien form 
    </pre>

    <form action="" method="" enctype="" id="form" class="form">
        <div>
            <input type="text" placeholder="ho va ten">
            <input type="text" value="sdt">
            <input type="number" placeholder="sdt" >
            <input type="password" placeholder="mat khau">
            <input type="date" >
        </div>
       <div>
            <input type="radio" name="gioi tinh" value="nam"> nam
            <input type="radio" name="gioi tinh" value="nu" checked> nu
       </div>
        <div>
            <input type="checkbox" name="so thich" >bong da
            <input type="checkbox" name="so thich" >bong ro
            <input type="checkbox" name="so thich" checked>bong chuyen
            <input type="checkbox" name="so thich" >bong ban
        </div>
        <div>
            <input type="submit" name="" value="gui">
            <input type="reset" name="" value="reset" id="">
        </div>
        <div>
            <select name="select" id="">
                <option value="1">hai phong</option>
                <option value="2" selected>ha noi</option>
            </select>
        </div>
        <textarea name="string" id="string" cols="30" rows="10" placeholder="ghi chu"></textarea>
    </form>
    <hr>
    <form action="">
       <div>
           <label for="tai khoan"> nhap tai khoan<input type="text" placeholder="tai khoan" name="taikhoan" style="padding: 4px 8px;"></label>
       </div>
       <div>
        <input type="password" placeholder="mat khau" name="matkhau" style="padding: 4px 8px;">
       </div>
       <div>
        <input type="submit" name="submid" value="dang nhap" style="width: 189px; margin-top: 20px;">
       </div>
    </form>
    <!-- bai tap ve nha 3 6 7 -->
</body>
</html>