<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>review less1</h1>
    <pre>
        1 html la gi? khong phai la 1 ngon ngu lap trinh
        2 cau truc cua 1 trang html 
            2 phan +head chua meta link script 
                    body noi dung trang
        3 mot so element thong dung va cach su dung: 
            Van ban: tieu de, noi dung, bieu dien dac biet, doc ...
            danh sach: ul-li, ol-li, dl-dt-dd 
            sieu lien ket: the a 
            bieu dien hinh anh: img 
            da so cac element deu can cac the dong mo
        4 cac ket hop element de bieu dien:
    </pre>
</body>
</html>