html{
    font-size: 20px;
}
/* css phần header */
.header {
    height: 2.5rem;
    padding-top: 2.5rem;
}
.head-logo{
    width: 30%;
}
.head-logo img{
    width: 40%;
    padding-left: 6rem;
}
.head-menu {
    width: 70%;
    margin: auto;
}
.main-menu{
    height: 100%;
}
.main-option{
    width: 20%;
    height: 100%;
    text-align: center;
    padding-top: 0.75rem;
}
/*css phần banner  */
.main-banner {
    position: relative;
}
.main-banner img {
    margin-top: 1rem   ;
}
.info-banner {
    position: absolute;
    width: 30%;
    text-align: justify;
    top: 25%;
    left: 15%;
}
.info-banner p{
    margin: 1.5rem 0rem;
    width: 65%;
    font-size: medium;
}
/* css phần sản phẩm */
.sanpham {
    position: relative;
}
.sanpham h1{
    position: absolute;
    top: 15%;
    left: 42%;
    font-size: 2rem;

}
.sanpham .main-sanpham .list-sanpham{
    width: 80%;
    position: absolute;
    top: 25%;
    left: 10%;
}
.sanpham .main-sanpham .list-sanpham .info-sp{
    margin: auto;
}
.sanpham .main-sanpham .list-sanpham .info-sp p{
    text-align: center;
    padding-top: 1rem;
}
/* css phần giới thiệu */
.gioithieu{
    position: relative;
}
.gioithieu h1{
    position: absolute;
    top: 24%;
    left: 44%;
    font-size: 2rem;
}
.gioithieu>.sdt{
    position: absolute;
    top: 28%;
    left: 87%;
    color: rgb(105, 161, 19);
    font-size: 1.5rem;
}
.info-gt{
    position: absolute;
    width: 27%;
    text-align: justify;
    top: 53%;
    left: 21%;
    font-size: medium;
}
/* css nghệ nhân */
.nghenhan{
    position: relative;
}
.nghenhan h1{
    position: absolute;
    top: 10%;
    left: 39%;
    font-size: 2rem;
}
.list-nn{
    position: absolute;
    width: 71%;
    top: 27%;
    left: 16%;
}
.img-nn{
    align-items: center;
}
.nn{
    margin-right: 2rem;
}
.info-nn h3{
    text-align: center;
}
.info-nn p{
    text-align: center;
    font-size: medium;
}
/* css mua ngay */
.muangay {
    position: relative;
}
.muangay h1{
    position: absolute;
    top: 45%;
    left: 36%;
    font-size: 2rem;
}

.form-mua{
    position: absolute;
    width: 63%;
    top: 60%;
    left: 11%;
}
.info {
    height: 50px;
    width: 77%;
    margin-right: 1rem;
}
.im{
    width: 20% !important;
}
/* css footer */
.footer{
    position: relative;
}
.info-footer{
    position: absolute;
    width: 65%;
    top: 15%;
    left: 12%;
}
.cot{
    margin-right: 2rem;
    text-align: left;
}