html{
    font-size: 20px;
}
/* css phần header */
.header {
    height: 2.5rem;
    padding-top: 2.5rem;
}
.head-logo{
    width: 30%;
}
.head-logo img{
    width: 40%;
    padding-left: 6rem;
}
.head-menu {
    width: 70%;
    margin: auto;
}
.main-menu{
    height: 100%;
}
.main-option{
    width: 20%;
    height: 100%;
    text-align: center;
    padding-top: 0.75rem;
}
/*css phần banner  */
.main-banner {
    position: relative;
}
.main-banner img {
    margin-top: 1rem   ;
}
.info-banner {
    position: absolute;
    width: 30%;
    height: 100%;
    text-align: justify;
    top: 25%;
    left: 15%;
}
.info-banner p{
    margin: 1.5rem 0rem;
    width: 65%;
    font-size: medium;
}
/* css phần sản phẩm */
.sanpham {
    position: relative;
}
.sanpham h1{
    position: absolute;
    top: 15%;
    left: 42%;

}
.sanpham .main-sanpham .list-sanpham{
    width: 80%;
    position: absolute;
    top: 25%;
    left: 10%;
}
.sanpham .main-sanpham .list-sanpham .info-sp{
    margin: auto;
}
.sanpham .main-sanpham .list-sanpham .info-sp p{
    text-align: center;
    padding-top: 1rem;
}
/* css phần giới thiệu */
.gioithieu{
    position: relative;
}
.gioithieu h1{
    position: absolute;
    top: 24%;
    left: 44%;
}