<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thuc hanh</title>
    <link rel="stylesheet" href="../css/ex2.css">
</head>
<body>
    <header>
        <div>header</div>
    </header>
    <section>
        <div class="nav">nav</div>
        <div class="center">
            <div class="left">left</div>
            <div class="body">body</div>
            <div class="right">right</div>
        </div>
    </section>
    <footer>
        <div>footer</div>
    </footer>
</body>
</html>