<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ex3</title>
    <link rel="stylesheet" href="../css/ex3.css">
</head>
<body>
    <header>
        <nav class="nav">
            <ul  class="ul">
                <li class="li" > 
                    <a href="#" class="link">trang chu</a>
                </li>
                <li class="li" >
                    <a href="#" class="link">san pham</a>
                </li>
                <li class="li">
                    <a href="#" class="link">dich vu</a>
                </li>
                <li class="li">
                    <a href="#" class="link">gioi thieu</a>
                </li>
                <li class="li">
                    <a href="#" class="link">lien he</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>