<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="../css/trangchu.css">
</head>
<body>
    <header>
        <!-- menu + logo -->
        <div class="header">
            <div class="head-logo">
                <img src="../img/trangchu/logophongtra.png" alt="logo">
            </div>
            <div class="head-menu">
                <nav>
                    <ul class="main-menu">
                        <li class="main-option"><a href="#">TRANG CHỦ</a></li>
                        <li class="main-option"><a href="#">GIỚI THIỆU</a></li>
                        <li class="main-option"><a href="#">SẢN PHẨM</a></li>
                        <li class="main-option"><a href="#">TIN TỨC</a></li>
                        <li class="main-option"><a href="#">LIÊN HỆ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <!-- banner 1 -->
        <div class="main-banner">
            <img src="../img/trangchu/backBanner.png" alt="banner">
            <div class="info-banner">
                <h4>TRÀ ƯỚP SEN TÂY HỒ</h4>
                <img src="../img/trangchu/tinhhoaamthuc.png" alt="">
                <p>Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát của sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương</p>
                <button class="button">THỬ NGAY</button>
            </div>
        </div>
        <!-- sản phẩm -->
        <div class="sanpham">
            <h1>SẢN PHẨM NỔI BẬT</h1>
           <div class="infosp">
            <div class="sp">
                <img src="../img/trangchu/product-1.png" alt="TRÀ ƯỚP BÔNG SEN">
                <h3>TRÀ ƯỚP BÔNG SEN</h3>
            </div>
            <div class="sp">
                <img src="../img/trangchu/product-2.png" alt="TRÀ ƯỚP NHỊ SEN">
                <h3>TRÀ ƯỚP NHỊ SEN</h3>
            </div>
            <div class="sp">
                <img src="../img/trangchu/product-3.png" alt="TRÀ SAN TUYẾT">
                <h3>TRÀ SAN TUYẾT</h3>
            </div>
            <div class="sp">
                <img src="../img/trangchu/product-4.png" alt="TRÀ Ô LONG">
                <h3>TRÀ Ô LONG</h3>
            </div>
           </div>
            <div class="la"><img src="../img/trangchu/product-la.png" alt="la"></div>
            <div class="hoasen"><img src="../img/trangchu/product-sen.png" alt="sen"></div>
        </div>
        <!-- giới thiệu -->
        <div class="gioithieu">
            <h1>GIỚI THIỆU</h1>
            <img src="../img/trangchu/gioithieu.png" alt="">
            <div class="info-gt">
                <img src="../img/trangchu/introduce-number-phone.png" alt="" class="phone">
                <h2 class="number-phone">0999999999</h2>
                <img src="../img/trangchu/traxanhbachdiep.png" alt="">
                <p>Trà ướp Sen Bách Diệp- tinh hoa văn hóa Hà Thành là sự hòa quyện tuyệt với giữa hương thơm
                    ngan ngát của hương sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương Thái Nguyên.
                    Qua đôi bàn tay tài hoa và bí quyết mật truyền nhiều đời của người thợ trà Thăng Long,
                    Tạo ra thức uống tinh túy, kết tinh văn hóa ngàn năm Thăng Long- Hà Nội
                </p>
                <button class="button">ĐỌC THÊM</button>
            </div>
        </div>
        <!-- nghệ nhân -->
        <div class="nghenhan">
            <h1>NGHỆ NHÂN TRÀ ĐẠO</h1>
            <img src="../img/trangchu/bannernghenhan.png" alt="">
           <div class="infonn">
            <div class="nn">
                <img src="../img/trangchu/professional-tea-1.png" alt="TRÀ ƯỚP BÔNG SEN">
                <h3>NN Nguyễn Cao Sơn</h3>
                <p>Nguyễn Cao Sơn được chọn làm đại diện quảng bá văn hóa Trà Việt 
                    tại ngôi nhà di sản 87 Mã Mây, Hà Nội
                </p>
            </div>
            <div class="nn">
                <img src="../img/trangchu/professional-tea-2.png" alt="TRÀ ƯỚP NHỊ SEN">
                <h3>NN Hướng Anh Sướng</h3>
                <p>
                    Truyền nhân đời thứ 6 của dòng trà Trường Xuân, Hà Nội chia sẻ về nghệ
                    thuật trà đạo, lĩnh vực mà anh dành hơn nửa cuộc đời nghiên cứu 1 cách đam mê
                </p>
            </div>
            <div class="nn">
                <img src="../img/trangchu/professional-tea-3.png" alt="TRÀ SAN TUYẾT">
                <h3>NN Nguyễn Thị Dần</h3>
                <p>
                    Vẫn tự tay chọn hoa , tách gạo, thực hiện từng công đoạn ướp trà sen. Cũng chính bởi 
                    nghiện trà, bởi yêu nghề nên mới có thiếu nữ Hà thành năm xưa vẫn say hương vị trà sen Tây Hồ
                </p>
            </div>
            <div class="nn">
                <img src="../img/trangchu/professional-tea-4.png" alt="TRÀ Ô LONG">
                <h3>NN Nguyễn Hoài Linh</h3>
                <p>
                    Vô địch toàn thế giới trong cuộc thi Tea Master Cup International 2018 về pha trà
                    được tổ chức tại Huế
                </p>
            </div>
            <div class="nn">
                <img src="../img/trangchu/professional-tea-5.png" alt="TRÀ Ô LONG">
                <h3>NN Viên Trần</h3>
                <p>
                    Sinh ra và lớn lên trong 1 gia đình quý tộc phong kiến, trong một môi trường uống trà
                    và trà cực ngon, cực thượng hạng là điều không bao giờ thiếu trong nhà
                </p>
            </div>
           </div> 
        </div> 
        <!-- mua ngay -->
           <div class="buy">
            <h1>MUA NGAY</h1>
            <img src="../img/trangchu/bannermuangay.png" alt="">
            <div class="form">
                <form action="">
                    <input type="text" name="info" id="info" placeholder="Số điện thoại/Email" class="text">
                    <input type="button" name="send" id="send" class="button" value="Gửi">
                </form>
            </div>
           </div>
    </section>
    <footer>
    </footer>
</body>
</html>