<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bai tap</title>
</head>
<body>
    <section>
        <div>
            <fieldset>
                <legend>ban dang xem video</legend>
                <table border="1" cellspacing="0">
                    <tbody>
                        <tr> 
                            <td rowspan="5">
                            <div>
                                <video  width="560" height="315" src="https://cdn.realtech.com.vn/uploads/1/news/2023/0/86/updat1.mp4" type="video/mp4" controls="true" loop autoplay></video>
                            </div>
                            </td>
                            <td>
                            <div>
                                <img src="/less3/image/Screenshot 2023-08-21 140245.png" alt="">
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            </div>
                        </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <img src="/less3/image/Screenshot 2023-08-21 140245.png" alt="">
                                </div>
                            </td>
                            <td>
                            <div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <img src="/less3/image/Screenshot 2023-08-21 140245.png" alt="">
                                </div>
                            </td>
                            <td>
                            <div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <img src="/less3/image/Screenshot 2023-08-21 140245.png" alt="">
                                </div>
                            </td>
                            <td>
                            <div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <img src="/less3/image/Screenshot 2023-08-21 140245.png" alt="">
                                </div>
                            </td>
                            <td>
                            <div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </section>
</body>
</html>
<!-- btvn lam form login fb lad2.2 -->