<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>btvn</title>
</head>
<body>
   <section style="background-color: rgb(228, 235, 235); width: 475px; height: inherit; margin-left: 200px;">
        <fieldset>
            <div>
                <h1 style="margin-left: 35px;margin-top: 5px; margin-bottom: 0px; color: rgb(4, 95, 95);">Sign up</h1>
                <p style="margin-left: 35px;margin-top: 5px; margin-bottom: 0px;  color: rgb(4, 95, 95);">It's free and always will be</p>
                <hr style="width: 405px;">
                <div>
                    <table>
                        <div>
                           <tr>
                            <td style="text-align: right;width: 130px;  color: rgb(4, 95, 95);">
                                <label for="firstname">First name</label>
                            </td>
                            <td>
                                <input type="text" name="firstname" id="firstname" style="width: 290px;">
                            </td>
                           </tr>
                        </div>
                        <div>
                            <tr>
                              <td  style="text-align: right;  color: rgb(4, 95, 95);">
                                <label for="lastname">Last name</label>
                              </td>
                            <td>
                                <input type="text" name="lastname" id="lastname" style="width: 290px;">
                            </td>
                        </div>
                            </tr>
                        <div>
                            <tr>
                                <td  style="text-align: right;  color: rgb(4, 95, 95);">
                                    <label for="email">Your email</label>
                                </td>
                                <td>
                                    <input type="email" name="email" id="email" style="width: 290px;">
                                </td>
                            </tr>
                        </div>
                        <div>
                            <tr>
                                <td  style="text-align: right;  color: rgb(4, 95, 95);">
                                    <label for="reemail">Re-enter Email</label>
                                </td>
                                <td>
                                    <input type="email" name="reemail" id="reemail" style="width: 290px;">
                                </td>
                            </tr>
                        </div>
                        <div>
                            <tr>
                               <td  style="text-align: right;  color: rgb(4, 95, 95);">
                                    <label for="password">New Password</label>
                               </td>
                               <td>
                                    <input type="password" name="password" id="password" style="width: 290px;">
                               </td>
                            </tr>
                        </div>
                        <div>
                           <tr>
                                <td  style="text-align: right;  color: rgb(4, 95, 95);">
                                    <label for="gender">I am</label>
                                </td>
                                <td>
                                    <select name="gender" id="gender" style="width: 100px;">
                                        <option value="1">male</option>
                                        <option value="0">femail</option>
                                    </select>
                                </td>
                           </tr>
                        </div>
                        <div>
                            <tr>
                                <td  style="text-align: right; vertical-align: top;  color: rgb(4, 95, 95);">
                                    <label for="birthday">Birthday</label>
                                </td>
                                <td>
                                    <div>
                                        <input type="date" name="birthday" id="birthday">                            
                                    </div>
                                    <div>
                                        <a href="#">Why do i need to provide my birthday?</a>
                                    </div>
                                    <div>
                                        <p>by clicking Sign up. you agree to our <a href="#">Terms</a> and that you have read and understand our <a href="#">Data Use Policy</a>, including our <a href="#">Cookie Use</a></p>
                                    </div>
                                    <div>
                                        <input type="button" name="Sign Up" id="Sign Up" value="Sign Up" style="background-color: green; width: 100px; height: 30px; color: white;"> 
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </fieldset>
   </section>
</body>
</html>