<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the bo cuc va noi dung</title>
</head>
<body>
    <!-- strart header -->
    <header>
        <nav>
            <ul>
                <li>
                    <a href="">trang chu</a>
                </li>
                <li>
                    <a href="">html</a>
                </li>
                <li>
                    <a href="">css</a>
                </li>
                <li>
                    <a href="">js</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- end header -->

    <!-- strart body -->
    <section>
        <pre>
            I muc tieu
                1 nam va van dung duoc cac phuong phap chia bo cuc va noi dung website hop ly
                2 su dung thanh thao cac element thong dung
                
        </pre>
        <div>
            <label for="username">username</label>
            <input type="text" name="username" id="username">
        </div>
    </section>
    <!-- end body -->

    <!-- strart footer -->
    <footer>

    </footer>
    <!-- end footer -->
</body>
</html>