<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review table & form</title>
</head>
<body>
    <h1>tong quan</h1>
    <pre>   
        I table - bang
            1 cu phap - cau truc: table > thead -tbody -tfoot
                                        tr > th/td
            2 cac thuoc tinh thuong dung: rowspan, colspan,...
        II form -bieu mau
            1 cu phap -cau truc: 
                form: method
                      action
            2 cac the nhap lieu: 
                input: type(text, number, pass, email,...)
                select: option
                textarea
                luu y: voi input thi mac dinh type defaut la text
                        cac thuoc tinh trong input select textarea
                            -name:quy dinh vung lua chon
                            -id, class, attr-custom: xac dinh element
                            -value != placeholder va value != noi dung cua option 
            3 submid, reset form 
                element thuong dung: input/button voi type tuong ung => page se bi load lai
                                    button voi type ="button" => page khong bi load lai 
    </pre>
</body>
</html>