<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trang chu</title>
</head>
<body>
    <!-- starrt header -->
    <header>
        <nav>
            <div style="background-color: rgb(179, 167, 167);">
                <ul style="display: flex; list-style:none;">
                    <li style="padding: 8px 12px; margin-left: 120px;"><a href="#">trang chu</a></li>
                    <li style="padding: 8px 12px;"><a href="#">san pham</a></li>
                    <li style="padding: 8px 12px;"><a href="#">dich vu</a></li>
                    <li style="padding: 8px 12px;"><a href="#">tin tuc</a></li>
                    <li style="padding: 8px 12px;"><a href="#">lien he</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- end header -->
    <!-- start body -->
    <section>
        <!-- banner -->
        <div>
            <img src="https://devmaster.edu.vn/landing_page/php/devmaster-banner-php.jpg" alt="demo">
        </div>
        <!--chi tiet bai viet -->
        <div>
           <div>
            <h1>Đăng ký thông tin người sử dụng</h1>
           </div>
            <div>
                <table>
                    <tbody>
                        <form action="">
                            <tr>
                                <th style="text-align: left;"><label for="account" >Tên đăng nhập</label></th>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;"> <label for="pass">Mật khẩu</label></th>
                                <td> <input type="password" ></td>
                            </tr>
                            <tr>
                                <th style="text-align: left;"><label for="passagaint">Nhập lại mật khẩu</label></th>
                                <td> <input type="password"></td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h1>tac gia: hieu</h1>
            </div>
        </div>
        <!-- video -->
        <div>
            <div>
                <video  width="560" height="315" src="./Sena Flashback Moment - Sena Kêu Gọi Donate Siêu Bựa - Thằng Nào Có Tiền [3-10-2022].mp4" controls="nodownload" type="video/ogg"></video>
            </div>
            <div>
                <h2>cuop online</h2>
            </div>
            <div>
                <div>
                    <video  width="560" height="315" src="https://cdn.realtech.com.vn/uploads/1/news/2023/0/86/updat1.mp4" type="video/mp4" controls="true" loop autoplay></video>
                </div>
                <div><h1>video duong dan tuyet doi</h1></div>
        </div>
        <div>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7l0eDGNroR0?si=UUEIJ--7syOFWO9S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div><h1>video nhung</h1></div>
        </div>

    </section>
    <!-- end body -->
    <!-- start footer -->
    <footer></footer>
    <!-- end footer -->
</body>
</html>