<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/btvn.css">
    <title>BTVN</title>
</head>
<body>
    <header></header>
    <section>
        <h1>dang nhap</h1>
        <label for="username">username</label>
        <input type="text" name="username" id="username"> <br>
        <label for="password">password</label>
        <input type="password" name="password" id="password"> <br>
        <button type="button" onclick="login()">dang nhap</button>
    </section>
    <script language="javascript" src="../js/btvn.js"></script>
</body>
</html>