<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript</title>
</head>
<body>
    <header></header>
    <section>
        <h1>các khái niệm cơ bản:</h1>
        <p>
            I định nghĩa
            II mục đích
            III quy tắc
                -phân biệt hoa thường: a != A
            IV cách khai báo và sử dụng
                -3 cách sử dụng
            V, nội dung chính:
                1, biến
        </p>
    </section>
    <section>
        <div>
            <label for="productname">username</label>
            <input type="text" name="username" id="username" class="username">
        </div>
        <div>
            <label for="productname">productname</label>
            <input type="text" name="productname" id="productname" class="productname">
            <button type="button" onclick="seachproduct()">tim kiem</button>
        </div>
    </section>
    <footer></footer>
    <script language="javascript" src="../js/home.js"></script>
    <!-- <script>
        alert("devmaster");
    </script> -->
</body>
</html>