<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review html va css</title>
</head>
<body>
    <header></header>

    <section>
        <h1>tong quat html va css</h1>
        <pre>
            A, html
                1, cấu trúc file, cấu trúc page
                2, cú pháp một số element
                3, vận dụng các element bố cục - nội dung để phân chia bố cục cho phù hợp

            B,css
                1, cách khởi tạo và khai báo sử dụng
                2, cú pháp: selector{thuộc tính: value}
                3, độ ưu tiên trong css 
                4, animation ca responsive
                    -cú pháp khai báo-sử dụng
                    -ý nghĩa/mục đích
            c, Javascript: ngôn ngữ lập trình
                1, các khái niệm logic cơ bản: 
                    -biến, kiểu dữ liệu, toán tử, các cấu trúc đặc thù
                    - mảng hàm đối tượng
                2, vận dụng Javascript: 
                3, các ứng dụng js trên client: cache.
        </pre>
    </section>

    <footer></footer>

</body>
</html>